[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "events-system"
version = "0.0.4"
authors = [
  { name="sir even", email="sir_even@icloud.com"},
]
description = "A singleton based thread-safe event system which components can use to subscribe and post to other components."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/sirEven/event-system.git"